<!-- <div class="container" #swapyContainer>
  <div class="slot top" data-swapy-slot="a">
    <div class="item item-a" data-swapy-item="a">
      <div>A</div>
    </div>
  </div>
  <div class="middle">
    <div class="slot middle-left" data-swapy-slot="b">
      <div class="item item-a" data-swapy-item="b">
        <div class="handle" data-swapy-handle></div>
        <div>B</div>
      </div>
    </div>
  </div>
  <div class="slot bottom" data-swapy-slot="d">
    <div class="item item-a" data-swapy-item="d">
      <div>D</div>
    </div>
  </div>
</div> -->

<!-- <button (click)="addItem()">ADD</button> -->
<div class="container" #swapyContainer>
  @for (v of slottedItems(); track v.item?.index) {
  <div class="slot top" [attr.data-swapy-slot]="v.slotId">
    <div class="item item-a" [attr.data-swapy-item]="v.itemId">
      <div>{{ v.item?.value ?? "undef" + $index }}</div>
    </div>
  </div>
  }
</div>
